<%= render 'layouts/header' %>
<div class="content_container">
<div class="header_container">
<h2 class="header2">#<%= @confession.id %></h2>
					</div>
					<div class="stats_container">
					<%= if current_user.voted_for?(@confession) 
						link_to image_tag('upvote2.png'), vote_up_confession_path(@confession), :method => :post, class: "icons first_icon" 
						else
						link_to image_tag('upvote2.png'), vote_up_confession_path(@confession), :method => :post, class: "icons" 
						end %>
					<p class="votes">
						<% total_votes = @confession.votes_for - @confession.votes_against %>
						<% total_votes >= 0 ? sign = "+" : sign = "" %>
						<%= sign %><%= total_votes %> 
					</p>
					<br><br>
					<%= link_to image_tag('downvote2.png'), vote_down_confession_path(@confession), :method => :post, class: "icons second_icon" %>
					</div>
					<br>
					<br><br>
					<br><br>
					<p class="text"><%= @confession.content %></p>
					<h4>-<%= time_ago_in_words(@confession.created_at) %> ago</h4>
					<% if current_user.admin? %>
    					<%= link_to "delete", @confession, method: :delete, data: { confirm: "Are you sure?" }, class:"delete_button" %>
                        <% end %>
					<br>
					<hr>
</div>
