<div id="welcome_body">
      <div class="welcome_page" >
            <div id="links">
            <%= link_to "Sign in", signin_path, class: "top_links" %>
            </div>
      <h1 class="main_title">Notre Dame Confessions</h1>
<!--       <h2 class="main_subtitle">Fess up, ND.</h2>
 -->      <h2 class="main_subtitle">Confess anything, anonymously.</h2>
            <div class="form_container">
            <h2 class="main_subtitle sign_up_subtitle">Sign in:</h2>
                  <div class="signup_form">
                  <%= form_for(:session, url: sessions_path) do |f| %>

                        <%= f.label :email, "Email:" %>
                        <%= f.text_field :email %>

                        <%= f.label :password, "Password (must be 6 characters long):" %>
                        <%= f.password_field :password %>
                       
                        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
                      
                  <% end %>
                  <p>New user? <%= link_to "Sign up now", signup_path %></p>
                  </div>
            </div>
      </div>
</div>

