<%= render 'layouts/header' %>
<div class="container">
	<div class="row">
		<%= render 'layouts/sidebar' %>
		<div class="content_container">
				<%= will_paginate @confessions %>

				
				<% @confessions = Confession.paginate(:page => params[:page], :per_page => 30)%>
  				<% @confessions.each do |confession| %>
    				
    			<h2 id="confession_number">#<%= confession.id %></h2>
    				
    			<%= link_to image_tag('upvote.png'), 'http://www.google.com', class: "icons"%> <%= confession.number_of_likes %>
    			<%= link_to image_tag('downvote.png'), 'http://www.google.com', class: "icons" %> <%= confession.number_of_dislikes %>
    				
    				
    			
    			<p><%= confession.content %></p>
    			<h4>-<%= time_ago_in_words(confession.created_at) %> ago</h4>

    			<hr>
  				<% end %>
  				<% will_paginate %>
  				

  				
			<!-- &nbsp&nbsp&nbsp
			<button class="btn btn-small" type="button"> <i class="icon-upload icon-2x"></i>&nbsp&nbsp Upvote &nbsp</button>
			<button class="btn btn-small" type="button"><i class="icon-circle-arrow-down icon-2x"></i>&nbsp&nbsp Downvote &nbsp</button>
			&nbsp
			<%= link_to "Mark as Troll", '#', id: "troll" %> -->
			
		</div>
	<div>
</div>