<!DOCTYPE html>
<html>
<head>
  <title>ND Confessions</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Nixie+One|Dosis:400,600|Headland+One|Fredericka+the+Great|Poiret+One|Syncopate|Quicksand|Vast+Shadow|Wire+One|Roboto+Condensed:400,300|Inika|Titillium+Web:400,200,700|Radley|Julius+Sans+One|Righteous' rel='stylesheet' type='text/css'> -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39878502-1', 'ndconfessions.com');
  ga('send', 'pageview');
  </script>
</head>
<body>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<%= yield %>


</body>
</html>
